[user]
	name = saekis
	email = s.saeki71@gmail.com
[core]
	excludesfile = /Users/saeki/.gitignore
	editor = /usr/bin/vim
	autocrlf = input
[color]
	ui = true
[alias]
	co = checkout
	st = status
	br = branch
	logg = log --stat --pretty=format:'%Cblue%h%Creset %Cgreen%ar$Creset %Cred%an%Creset %s %Cred%d%Creset'
	loggr = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[push]
	default = current
